# See @url https://github.com/11ty/11ty-website/issues/1610#issuecomment-1719605981
# See @url https://prettier.io/docs/en/configuration.html#editorconfig
# Stop the editor from looking for .editorconfig files in the parent directories
root = true

[*]
# Non-configurable Prettier behaviors
# Unix-style newlines with a newline ending every file
charset = utf-8
insert_final_newline = true
# Caveat: Prettier won’t trim trailing whitespace inside template strings, but your editor might.
trim_trailing_whitespace = true

# Configurable Prettier behaviors
# (change these if your Prettier config differs)
end_of_line = lf
indent_style = space
indent_size = 2
# In general e.g. mdx, html files, etc. should have as much width as we want
# max_line_length = 100
